{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:Leiden/Description">2019 Leiden</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include summaries as much as possible. If you think of the sections in your project description as the sections in a publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works inspired you.</p>
  </div>
</div>
 -->

 <!-- main_part -->

<style>
  .mhyrightcontent img {
    width:80%;
    height:80%;
  }
</style>

<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/description.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle">description</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1">Cancer</a></li>
                  <li><a href="#title2">Cancer detection</a></li>
                  <li><a href="#title3">Township Health Center</a></li>
                  <li><a href="#title4">Our solution</a></li>
                  <li><a href="#title5">Reference</a></li>
                  <li><a href="#title6"></a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">
<h2 id='title1'>Cancer</h2>
<p>Malignant tumor, which is the medical term for cancer, grows quickly and has a high death rate. The effects of cancer on individuals&#39; physical, psychological, and financial status have been severe. And China accounts for the largest population in the world in both new cases of cancer and cancer-related deaths, according to the International Agency for Research on Cancer&#39;s (IARC) most recent report on the worldwide burden of cancer in 2020<sup>[1]</sup>. There are an estimated 19.29 million new cancer cases globally in 2020, of which 4.57 million (23.7% of the total) are in China. 9.96 million people are estimated to die from cancer worldwide in 2020, with 3 million of those fatalities occurring in China, which takes the top spot globally with 30% of all cancer-related deaths.</p>
<html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/description/figure1.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
<span><b>Figure 1.</b> Estimated number of new cases in 2020, all cancer, both sexes, all ages.</span>
<html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/description/figure2.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
<span><b>Figure 2.</b> Estimated number of deaths in 2020, all cancer, both sexes, all ages.</span>
<p>In light of the current considerations, we felt urged to take action to make the current situation better. We discovered through research and interviews that cancer patients have difficulties to be tested in time because of the expensive diagnosis procedures in qualified hospitals. So the development of a simpler cancer detection system was in urgent need and that’s what our team intended to concentrate on.</p>
<h2 id='title2'>Cancer detection</h2>
<p>Even while not all malignancies have the chance to be treated, individuals frequently have the highest chance of recovery when they receive an early diagnosis. The use of multiple screening models has made it possible to detect cancer earlier. Early breast cancer, colon cancer, cervical cancer, and lung cancer may all be found with mammography, colonoscopy, Pap tests, and low-dose CT scans, respectively.<sup>[2]</sup> 
While the aforementioned screening technologies can identify tumors at an early stage, the majority of malignancies are not discovered until symptoms start to show. This is mostly due to the fact that many malignancies do not have noticeable early signs, and individuals frequently dismiss these minor symptoms. And many individuals, especially those who live in underdeveloped areas without access to tertiary hospitals, believe that going to the hospital for a checkup is bothersome if the symptoms are not quite severe. It is also hard to screen for cancer in early stages outside hospitals because these methods for doing so are very expensive, complicated, and only able to identify one type of cancer at a time. Additionally, reliable screening guidelines for many malignancies are still lacking. Overall, simplifying cancer detection approaches and screening for a number of high-risk malignancies are particularly crucial. </p>
<h2 id='title3'>Township Health Center</h2>
<p>Our objective is to use our products in township health facilities. Township health centers are comprehensive institutions created by counties or townships for the management of health and medical preventive. Located in the rural area, the township health centers cannot fully afford complicate equipment for diseases detection for the villagers. The villagers must travel a long distance to the more distant metropolitan medical institutions for testing due to the subpar medical conditions of rural health centers. As a result, some individuals miss the best chance for therapy because they cannot be tested in a timely manner. At light of the dilemma above, our goal is to give villagers easy-to-use early cancer screening tools that can be used in township health centers to conduct cancer screenings without using exquisite devices.</p>
<h2 id='title4'>Our solution</h2>
<p>In order to solve the issues, we plan to develop a quick and practical early cancer screening platform that can be used in township health centers. We use bioinformatics methods to analyze the expression of lnc00857 in various cancers and reveal its potential biomarker function for detection. After collection of blood sample, RT-RPA is applied to amplify the target. Then the CRISPR-Cas14a system is introduced<sup>[3]</sup>, in which Cas14a can be activated by base pairing of sgRNA and target DNA to further cut non-specific single-stranded DNA in DNA nanostructure. This causes the DNA nanostructure to break down and releases γ-amylase, which subsequently catalyzes the hydrolysis of straight-chain starch to generate quantitative glucose, corresponding to the target level. This is determined by detecting electrical impulses with an enzyme adsorption electrode glucose sensor subsequently. </p>
  <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/description/figure4.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>

<span>&nbsp;&nbsp;&nbsp;<b>Figure 3.</b> Procedures of our detection system.</span>
<p>The excellent advantages of our scheme include the convenience, specificity, and sensitivity. Because the signal molecules we screened are present in blood, they can be detected using just the subject&#39;s blood sample. Furthermore, none of our system&#39;s components require exquisite tools or complicate equipment, which makes it entirely relevant to community health centers. We chose RPA amplification at room temperature because it is more effective than PCR amplification and can finish amplification of a certain order of magnitude quickly. Additionally, we selected the Cas14a protein because it has a reduced miss target rate compared to other Cas proteins and a stronger specific recognition capacity for nucleic acid molecules. Therefore, the match of RPA and Cas14a helps enhance the specificity of our project. Plus, the glucose meter was altered to increase its sensitivity, and its detection limit and quantification limit were both increased.</p>
<h2 id="title5">Reference</h2>
<p class="mhyref">
[1]Sung H, Ferlay J, Siegel RL, Laversanne M, Soerjomataram I, Jemal A, Bray F. Global Cancer Statistics 2020: GLOBOCAN Estimates of Incidence and Mortality Worldwide for 36 Cancers in 185 Countries. CA Cancer J Clin. 2021 May;71(3):209-249. doi: 10.3322/caac.21660. Epub 2021 Feb 4. PMID: 33538338.
</p>
<p class="mhyref">
[2]Schiffman JD, Fisher PG, Gibbs P. Early detection of cancer: past, present, and future. Am Soc Clin Oncol Educ Book. 2015:57-65. doi: 10.14694/EdBook_AM.2015.35.57. PMID: 25993143. 
</p>
<p class="mhyref">
[3]]Harrington LB, Burstein D, Chen JS, Paez-Espino D, Ma E, Witte IP, Cofsky JC, Kyrpides NC, Banfield JF, Doudna JA. Programmed DNA destruction by miniature CRISPR-Cas14 enzymes. Science. 2018 Nov 16;362(6416):839-842. doi: 10.1126/science.aav4294. Epub 2018 Oct 18. PMID: 30337455; PMCID: PMC6659742.
</p>
          </div>
      </div>
  </div> 
</div>

{% endblock %}
