{% extends "layout.html" %}
  
{% block title %}Dynamical models{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #2</h4>
      <p>Collaborate with one (or more) 2022 iGEM team(s) in a meaningful way.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-6">
    <h2>Which teams can we work with?</h2>
    <hr>
    <p>You can work with any other iGEM 2022 team in the competition. You can also work with non-iGEM research groups, but they do not count towards the iGEM team collaboration silver medal criterion.</p>
  </div>
  <div class="col-lg-6">
    <h2>Some suggestions</h2>
    <hr>
    <ul>
      <li>Improve the function of another team's BioBrick Part or Device</li>
      <li>Characterize another team's part</li>
      <li>Debug a construct</li>
      <li>Model or simulate another team's system</li>
      <li>Test another team's software</li>
      <li>Help build and test another team's hardware project</li>
    </ul>
  </div>
</div> -->

<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dynamical-models.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle">collaboration</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1">   </a></li>
                  <li><a href="#title2">  </a></li>
                  <li><a href="#title3">   </a></li>
                  <li><a href="#title4">  </a></li>
                  <li><a href="#title5">  </a></li>
                  <li><a href="#title6">  </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">

            <!-- 内容 -->
          

            
          </div>
      </div>
  </div> 
</div>



{% endblock %}
