{% extends "layout.html" %}
  
{% block title %}Education and Communication{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %} 

<!-- ksfksj -->

 
<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #2</h4>
      <p>Collaborate with one (or more) 2022 iGEM team(s) in a meaningful way.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div> 
</div>

<div class="row mt-4">
  <div class="col-lg-6">
    <h2>Which teams can we work with?</h2>
    <hr>
    <p>You can work with any other iGEM 2022 team in the competition. You can also work with non-iGEM research groups, but they do not count towards the iGEM team collaboration silver medal criterion.</p>
  </div>
  <div class="col-lg-6">
    <h2>Some suggestions</h2>
    <hr>
    <ul>
      <li>Improve the function of another team's BioBrick Part or Device</li>
      <li>Characterize another team's part</li>
      <li>Debug a construct</li>
      <li>Model or simulate another team's system</li>
      <li>Test another team's software</li>
      <li>Help build and test another team's hardware project</li>
    </ul>
  </div>
</div> -->

<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/education-and-communication.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/pntop/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft" style="height:440px">
          <div class="mhyleftnavtitle" style="font-size:1.5vw;width: 80%;">Education & Communication</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1"> Overview </a></li>
                  <li><a href="#title2"> Elementary Students </a></li>
                  <li><a href="#title3"> High School Students  </a></li>
                  <li><a href="#title4"> Undergraduates </a></li>
                  <li><a href="#title5"> All Goups </a></li>
                  <li><a href="#title6"> Handbooks: For Different Age Groups </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">


            <h2 id='title1'>Overview</h2>
            <p>To enlarge the popularization of synthetic biology, CPU_CHINA designed various ways of teaching to optimize the effect for <b>different groups of people</b>.</p>
            <p><b>For children</b>, because the application scenario of our Cancer Stalker is underdeveloped areas with poor medical conditions, we decided to volunteer in teaching in remote rural schools and distributed synthetic biology handbooks written by our team members. In addition, we shot a video to introduce the basic operations of our experiments in synthetic biology and uploaded it on <b>bilibili</b> (a Chinese video platform) to expand our audience and make concepts and experiments of synthetic biology more widespread.</p>
            <p><b>For high school students</b>, we conducted online classes to explain the basics of synthetic biology.</p>
            <p><b>For undergraduates</b>, we have adapted <em>Halli Galli</em> (A popular game) to a card game about biological chassis organisms and held a very popular small competition.</p>
            <p><b>And for all age groups</b>, we published popular science articles and held an online art exhibition with BIT in collaboration on iGEMerCPU, our official account, and created various adorable images of <b>Sno</b>, our team&#39;s mascot, on <b>WeChat</b> for free.</p>
            <p>Besides, we collaborated with other iGEM teams to edit the electronic <i>synthetic biology atlas</i>. It is publicly available on the <b>medium</b> website and is read by many people for free.</p>
            <p>Furthermore, we have introduced <b>CRISPR-Cas technology</b> from the aspects of <b>principles</b>, <b>development</b>, and <b>applications</b> by holding an offline lecture on campus and collaborating with other iGEM teams to hold online lectures for high school students and college freshmen.</p>
            <h2 id='title2'>Elementary Students</h2>
            <h3 id='volunteer-teaching-in-elementary-school'>Volunteer Teaching in Elementary School</h3>
            <p>Since the application scenario of our project is rural health clinics with poor medical conditions, we think it is necessary to promote Cancer Stalker to remote rural areas. Between July 19, 2022 and July 30, 2022, HP members went to <b>Zhenping County, Ankang City, Shaanxi Province</b>, where <b>China Pharmaceutical University</b> has been helping to develop its economy. After arriving there, we found that local educational resources in this area were scarce according to our interaction with the locals. Under the circumstance , we went to <b>Shuping Town Primary School</b> to teach students the basics of synthetic biology, spread synthetic biology to mountainous areas and lay the foundation for a synthetic biology revolution in less developed areas.</p>
            <h4 id='1-daily-laboratory-video'>1. Daily Laboratory Video</h4>
            <p>Before heading to the mountain area, besides the slideshow we prepared for the courses, we also wanted to share our lab life with them, so we shot a video in our lab. The video showed <b>the experiment operation specification, introducing the use of common apparatus such as PCR instruments and centrifuges, and demonstrated some experimental procedures of our project</b>. In the classroom, we showed this video to the children and they were curious about the various apparatus that appeared on the screen and actively asked questions. Meanwhile, we also uploaded this video on <b>bilibili</b> to expand the audience of science popularization.</p>

              <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture1.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>

            <span>Figure 1. A screenshot of our vlog</span>
            <h4 id='2-two-courses-about-synthetic-biology'>2. Two Courses about Synthetic Biology</h4>
            <p>CPU_CHINA members designed two courses that briefly introduce children to the basics of synthetic biology.</p>
            <p>The first course was about the basic knowledge of synthetic biology, a total of <b>two hours</b>. In the first course, we introduced <b>the basic concepts of biology</b> such as cells, chromosomes, DNA, gene, base, etc. In addition, we made <b>a pop quiz on base pairing</b> to deepen their understanding of the base pairing rules. At the same time, to inspire the children&#39;s love for scientific research, we set up a discussion session and asked them what they would like to create by using synthetic biology. Some kids wanted to use synthetic biology to make homegrown apples bigger and sweeter, some kids wanted to make a drug to treat COVID-19……, and <b>every idea deserves recognition</b>.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture2.jpg" width="60%" style="float:center;"> 
              </figure>
 
            <span>Figure 2. A member was explaining the basic concepts of biology</span>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture3.jpg" width="60%" style="float:center;"> 
              </figure>
 
            <span>Figure 3. A member was teaching synthetic biology</span>
            <p>The second course was designed to develop children&#39;s dialectical thinking about the development of science and technology and lasted for <b>an hour</b>. We cultivated the children&#39;s dialectical thinking by presenting a case on ethics in biology and held a <b>mini-debate</b> on <b>&quot;whether to support the development of gene editing technology&quot</b>; to provoke the children to think about the ethics of synthetic biology. During the mini-debate</b>, the children actively spoke and expressed their views clearly, and had a clearer view of science.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture4.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 4.  Help children understand dialectical thinking</span> 

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture5.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 5. Chat with children</span>
            <h4 id='3-a-synthetic-biology-handbook'>3. A Synthetic Biology Handbook</h4>
            <p>CPU_CHINA members developed a synthetic biology handbook that matched the content of the synthetic biology science curriculum.</p>
            <p>Compared with the normal textbook, the handbook explained the basic knowledge of synthetic biology in detail. We gave the handbooks to the children as gifts, and they loved them. These handbooks held our hope that they will continue to teach synthetic biology to children in place of CPU_CHINA after we left.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture6.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 6. A member was introducing the handbook</span>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture7.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 7. A child was reading the handbook</span>
            <p>Through this mission trip, we planted a seed of synthetic biology in the mountainous area, hoping that these children will always have a passion for exploring the life sciences. At the same time, we also achieved our initial goal of promoting Cancer Stalker to <b>Zhenping County</b> and raising awareness of early cancer screening among local residents.</p>
            <h2 id='title3'>High School Students</h2>
            <h3 id='synthetic-biology-and-cutting-edge-applications'>Synthetic Biology and Cutting-edge Applications</h3>
            <p>In order to increase the influence of online science popularization of synthetic biology, we jointly held an online public science lecture <i>Synthetic Biology and Cutting-edge Applications</i>; with iGEM teams from 10 universities in July, 2022. Our lectures focused on the frontier and application of synthetic biology. The lecture series was divided into 4 main topics and each team took its project as an example to explain the principles and applications of various synthetic biology technologies in simple words.</p>
            <p>At 8:00 PM on July 23, our team took <b>synthetic biology in daily life</b> as our entry point, introducing the concept of synthetic biology and showing the close connection between synthetic biology and our daily life to high school students in the live broadcast room. Then we moved on to <b>CRISPR-Cas system</b>, which was first discovered in prokaryotes. It can intercept the original spacer sequence from the genome of foreign viruses and &quot;register&quot; it. With the help of the Cas9-tracRNA-CrRNA complex with nucleic acid cleavage activity, it can cut the DNA strand that can complement the crRNA sequence, which provides bacteria with &quot;acquired immunity&quot; against the invasion of foreign viral DNA.</p>
            <p>Apart from the staff, there were <b>225 students participated in the course, and we even attracted three students from Singapore and Australia to join us</b>. We also made e-postcards for everyone as a souvenir.  Meanwhile, we recorded the course and uploaded it to <b>bilibili</b> platform. As of October 10, the number of views <b>has exceeded 3,000</b>.</p>
            <p>During the whole process, we established profound friendships with Tsinghua and BIT, who also chose diagnostics track this year, and held meetings to discuss our future cooperation.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture8.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 8. Online courses for high school students</span>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture9.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 9. Satisfying feedback from audience</span>
            <p>Through this online course, we introduced synthetic biology to high school students,hoping to provide them with an initial understanding of synthetic biology and to stimulate their interest in synthetic biology.</p>
            <h2 id='title4'>Undergraduates</h2>
            <h3 id='bio-night'>Bio Night</h3>
            <p>Cooperated with the student organization of <b>China Pharmaceutical University (CPU)</b>, CPU_CHINA hold a synthetic biology science lecture --- <b>Bio Night</b>, which attracted <b>more than 140 students</b>.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture10.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 10. The audience</span>
            <h4 id='the-first-part'>The first part</h4>
            <p>From the beginning of the topic brainstorms to wet labs, we had encountered joyful gains as well as depressing failures. We wanted to share these precious memories with others, so we introduced synthetic biology and our project---Cancer Stalker to the audience. And this enabled many people to know us.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture11.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 11. A member was sharing her thoughts</span>
            <p>Our sharing made more people know about CPU_CHINA, a united and friendly team with an immense passion for synthetic biology, and helped people understand that early diagnosis and early treatment can beat cancer and raised their awareness of early cancer screening, and we thought that they would also share this knowledge with their families and friends.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture12.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 12. A member ended her sharing</span>
            <h4 id='the-second-part'>The second part</h4>
            <p>We introduced CRISPR-Cas, the most popular gene editing technology at present. This part was explained for an hour and the feedback we got after the lecture was wonderful: many audiences asked questions in the Q&amp;A session, and our members answered these questions seriously for them, such as what are the pros and cons of fluorescent diagnosis based on CRISPR-Cas compared with real-time fluorescent quantitative PCR?</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture13.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 13. A member was introducing CRISPR-Cas</span>
            <p>This lecture let many students from <b>China Pharmaceutical University</b> understand CRISPR Cas, helping them broaden their horizon and optimizing their knowledge structure. We hoped this lecture can have some influence on their research paths and bring them some sparks and inspiration.</p>
            <h3 id='card-game'>Card Game</h3>
            <p>In order to make CPU_CHINA&#39;s science popularization more attractive to the public, we have adapted <em>Halli Galli</em> into a card game for the science of <b>synthetic biology chassis organisms</b>. The following are the specific details:</p>
            <h4 id='setting'>Setting:</h4>
            <p>The game involves <b>49 cards and 7 kinds of synthetic biological chassis organisms</b>. Each card has <b>a hand-drawn picture of 1 chassis organism and 3 characteristics of another chassis organism</b>.</p>
            <h4 id='synthetic-biological-chassis-organisms-and-characteristics'>Synthetic Biological Chassis Organisms and Characteristics:</h4>
            <p><strong>1.Saccharomyces cerevisiae</strong></p>
            <p>(1) The first eukaryote that got genome sequencing</p>
            <p>(2) Alcoholic fermentation</p>
            <p>(3) Spherical or ovoid</p>
            <p>(4) The yeast that relates most to human</p>
            <p><strong>2.Escherichia coli</strong></p>
            <p>(1) Normal inhabitant in human gut</p>
            <p>(2) Genetic engineering</p>
            <p>(3) Identified by EMB</p>
            <p>(4) Causing acute diarrhea</p>
            <p><strong>3.Bacillus subtilis</strong></p>
            <p>(1) Able to improve the turbidity of water caused by the overflow of harmful cyanobacteria</p>
            <p>(2) Easy to reproduce in the leach liquor of withered grass</p>
            <p>(3) Reduce the occurrence of shrimp diseases </p>
            <p>(4) Enhance our immunity</p>
            <p><strong>4.Kluyveromyces lactis</strong> </p>
            <p>(1) An important non Saccharomyces cerevisiae</p>
            <p>(2) Mostly separated from dairy products </p>
            <p>(3) Has a prospect for large-scale medicinal protein production</p>
            <p>(4) Emits a fruit-like aroma when cultivating</p>
            <p><strong>5.Cyanobacteria</strong> </p>
            <p>(1) Photosynthesis</p>
            <p>(2) &quot;Pioneer organism&quot; </p>
            <p>(3) An indicator of eutrophication in water bodies</p>
            <p>(4) Common species are Chroococcus, Oscillatoria, Nostoc, etc.</p>
            <p><strong>6.Streptomycete</strong></p>
            <p>(1) Produce a variety of water-soluble or fat-soluble pigments</p>
            <p>(2) Produce a variety of antibiotics </p>
            <p>(3) Representative specie is streptomyces albus</p>
            <p>(4) Difficult to be identified or classified</p>
            <p><strong>7.Pseudomonas putida</strong></p>
            <p>(1) A pathogenic bacterium for fish</p>
            <p>(2) Specifically produces fluorescein not pyocyanin </p>
            <p>(3) Old cultures have a fishy odor </p>
            <p>(4) A normal flora in human pharynx</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture14.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 14. Our cards</span>
            <h4 id='rules'>Rules:</h4>
            <ol start='' >
            <li>In accordance with the number of players (2-4 players), we split the cards equally and put the cards upside down in front of them. About the cards left, we put them upside down and back into the box. Players take turns turning over a card in a clockwise direction and put it into the card pool.</li>
            <li>When the picture and three characteristics of the same synthetic biological chassis organism appear on the table, players can tap the bell. If correct, all the cards on the table that have been turned over belong to the first person that tapped the bell; if wrong, the player must hand out one card to every other player as a penalty.</li>
            <li>If a player has no cards to turn over and there are still previously turned-over cards in front of her, she can still tap the bell. But if all cards are won by other players, that player is out.</li>
            <li>When 2 players play, whoever outs first loses. When 3 or more players play, count the number of cards of the last 2 players left, and whoever has the most wins.</li>
            
            </ol>
            <h4 id='cards-manuals'>Cards Manuals: </h4>
            <embed src="https://static.igem.wiki/teams/4308/wiki/static/education/education1.pdf" width="90%" height="60%">
            <a href="https://static.igem.wiki/teams/4308/wiki/static/education/education1.pdf" style="font-size:35px;">click here for PDF</a>
            

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src="extension://idghocbbahafpfhjnfhpbfbmpegphmmp/assets/pdf/web/viewer.html?file=https%3A%2F%2Fstatic.igem.wiki%2Fteams%2F4308%2Fwiki%2Fstatic%2Feducation%2Feducation1.pdf" width="60%" style="float:center;"> 
              </figure>

            
            <h4 id='improvements'>Improvements:</h4>
            <p>Initially, it was set to have 1 to 3 characteristics on one card, which belonged to different synthetic biological chassis organisms, so players needed to distinguish the characteristics one by one and correspond with different organisms. After inviting our friends to test it, we got feedback that it was too difficult to distinguish the features one by one and made the game time-consuming, so we changed to have one hand-drawn picture of one chassis organism and 3 characteristics of another chassis organism per card. This made our game more suitable for both education and entertainment use.</p>
            <h4 id='results'>Results:</h4>
            <p>CPU_CHINA invited the audience of <b>Bio Night</b> to take part in a card duel, and participants showed great interest.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure15.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 15. The interesting game</span>
            <p>Our team&#39;s card game attracted college students’ interest and made synthetic biology easy to spread. In this way, college students can learn synthetic biology in an entertaining way and enable synthetic biology to win their hearts.</p>
            <h3 id='iciis-online-public-science-lectures'><strong>ICII&#39;s Online Public Science Lectures</strong></h3>
            <p>In July, iGEM teams from 12 universities participated in this activity, delivered lectures on the frontier technologies in synthetic biology, and shared their experience in synthetic biology design. </p>
            <p>In this activity, CPU_CHINA introduced <b>the discovery, principle and development of the CRISPR-Cas system and its application in several iGEM projects</b>. So far, this system has been widely used in life sciences. It can be applied in gene editing, cell tracking, in vitro diagnostics and CAR-T technology. We are sure that the CRISPR-Cas system will play a greater role in the field of biomedicine in the future.</p>
            <p>After the lecture, audience raised questions actively, discussed the prospects of CRISPR-Cas technology with our team members. Apart from synthetic biology, our team members also shared some paper-reading methods and our project-design ideas, encouraging them to embrace synthetic biology with us.</p>
            <p>This activity helped to increase the influence of synthetic biology among students and let them know more about iGEM too. After the activity, we have uploaded this video on <b>bilibili</b> for others to learn and review.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure16.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 16. Introducing CRISPR-Cas</span>
            <h3 id='synthetic-biology-science-popularization-to-freshmen'><strong>Synthetic Biology Science Popularization to Freshmen</strong></h3>
            <p>In early September, to enhance the influence of synthetic biology, CPU_CHINA participated in an online public science education for new students in <b>Beijing Institute of Technology</b>.</p>
            <p>Through the <b>Tencent Meeting</b> and <b>bilibili</b> live platform, BIT, BIT-China, and CPU_CHINA jointly held this online freshmen promotion activity. This public science education closely focused on synthetic biology, including project introduction of each team and the frontier progress of synthetic biology.</p>
            <p>Among them, CPU_CHINA gave an <b>in-depth explanation of the recently popular CRISPR-Cas system, and described its discovery history, technical principles and application prospects</b>. At present, the system is widely used in basic research in the field of life science and medicine. It is widely used in recent iGEM projects as well. At present, people are not very famliar with all the functions of the Cas protein family, but there is no doubt that this technology will certainly play a greater role in biomedicine in the future. So it means a lot to introduce the Cas protein family to the audience.</p>
            <p>The online lecture lasted for <b>1.5 hours</b>, and a total of <b>more than 100</b> people participated in the activity. After the class, the organizer BIT uploaded the course video to the <b>bilibili</b> platform for interested students to learn and review.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure17.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 17. Online lectures for freshmen</span>
            <h2 id='title5'>All Goups</h2>
            <h3 id='new-media-platform'>New Media Platform</h3>
            <p>To attract more audience, we embraced media platforms. We made science popularization videos and uploaded them on <b>bilibili</b>. We also published a series of science popularization articles on iGEMerCPU, our <b>WeChat</b> official account. These contents will pop up as people search for related subjects and will continue to conduct their educational function.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figture18.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 18. <b>bilibili</b> account</span>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure19.png" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 19. iGEMerCPU official account</span>
            <p>
              In addition, realizing the importance of <b>biosecurity</b>, we have published a joint <b>WeChat Push</b> with NJTech_CHINA to <b>popularize the regulations and laws standardizing synthetic biology in China, the US, the EU, etc</b>.
              More details can be found on this <a href="https://2022.igem.wiki/njtech-china/communication" style="color:rgb(31, 125, 233) ;">page</a>.
            </p>
            <figure style="display: flex; justify-content: center; align-items: center;">
              <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/education/picture24.jpg" width="60%" style="float:center;"> 
           </figure>

         <span>Figure 20. The article</span> 
                    
            <h3 id='online-synthetic-biology-art-exhibition'>Online Synthetic Biology Art Exhibition</h3>
            <p>CPU_CHINA continuation of the last line art pattern, mascot, as the core, designed an <b>online exhibition</b>, <b>in the form of comic show readers of synthetic biology technology and the content of the project</b>, we worked with BIT and successfully completed this activity, aiming to let more people feel the charm of synthetic biology.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure20.gif" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 21. The masterpiece of CPU_CHINA</span>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure21.jpg" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 22. Our team logos</span>
            <h2 id='title6'>Handbooks: For Different Age Groups</h2>
            <p>With our passion for synthetic biology, we gathered to form CPU_CHINA and participated in iGEM. Through digging into problems, designing technical routes, and finally putting them into practice, we reshaped our original shallow cognition of synthetic biology and gained a deeper understanding of synthetic biology and its frontier fields. To comprehensively explain <b>the concepts of synthetic biology and show the charm of synthetic biology from different dimensions</b>, we have reviewed the literature and searched for clear and intuitive pattern diagrams, and finally gained good results. Through the process of compiling science popular handbooks of synthetic biology for different ages, we helped our target people consolidate existed knowledge and deepened their understanding of synthetic biology. In addition, we also recognized that participating in the iGEM competition itself is a process of continuous learning.</p>
            <h3 id='synthetic-biology-atlas'><i>Synthetic Biology Atlas</i></h3>
            <p>Synthetic biology is the product of the integration of life science and engineering ideas. With the development of biological engineering technology and bioinformatics, synthetic biology has developed to an unprecedented point. However, in the process of Human Practices, our team members have found that many people, except practitioners in the field of biotechnology, people know little about synthetic biology, and sometimes even have some misunderstandings. As iGEMers, we have a responsibility to help the public learn more about synthetic biology.</p>
            <p>Therefore, ZJUintl-China invited seven teams including CPU_CHINA to jointly compile the <i>synthetic biology atlas</i>, which <b>summarizes synthetic biological ideas, technologies, interdisciplinary contents, specific applications, and broad prospects</b>. </p>
            <p>In the process of compiling the atlas, we strived to integrate classical synthetic biology theory and cutting-edge synthetic biology progress into the text, to explain synthetic biology to readers clearly.</p>
            <p>At present, the atlas has been published on the <b>medium</b> website and is available for everyone. As one of the atlas authors, the CPU_CHINA team sincerely hopes that by promoting this atlas, the public can have a preliminary understanding of synthetic biology, so that more people can participate in the construction of synthetic biology.</p>

              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure22.png" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 23. <i>Synthetic Biology Atlas</i></span>
            <a href="https://static.igem.wiki/teams/4308/wiki/static/education/education3.pdf"  style="font-size:35px;">click here for PDF</a>

                 <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" extension://idghocbbahafpfhjnfhpbfbmpegphmmp/assets/pdf/web/viewer.html?file=https%3A%2F%2Fstatic.igem.wiki%2Fteams%2F4308%2Fwiki%2Fstatic%2Feducation%2Feducation2.pdf" width="60%" style="float:center;"> 
              </figure>
            

            <h3 id='my-first-step-into-synthetic-biology'><i>My First Step into Synthetic Biology</i></h3>
            <p>Before teaching in the mountainous area, how to impart knowledge to children troubled us a lot. We hoped to teach basic concepts of synthetic biology in the simplest and most understandable way. We anticipated they can feel the joy of learning engineering thinking mode.</p>
            <p>With this belief, we compiled the handbook and named it <i>My First Step into Synthetic Biology</i>. The handbook introduces <b>biological chassis organisms, central dogma with genetic information, and the basic ideas of synthetic biology</b>, which greatly supplemented our slides and the teaching instructions. Moreover, we aimed to plant a seed of aspirations for synthetic biology in their hearts.</p>
              <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" https://static.igem.wiki/teams/4308/wiki/static/imgs/education/figure23.png" width="60%" style="float:center;"> 
              </figure>

            <span>Figure 24. <i>My First Step into Synthetic Biology</span></i>
            <a href="https://static.igem.wiki/teams/4308/wiki/static/education/education2.pdf" style="font-size:35px;text-decoration: none;">click here for PDF</a>
            
               <figure style="display: flex; justify-content: center; align-items: center;">
                 <img src=" extension://idghocbbahafpfhjnfhpbfbmpegphmmp/assets/pdf/web/viewer.html?file=https%3A%2F%2Fstatic.igem.wiki%2Fteams%2F4308%2Fwiki%2Fstatic%2Feducation%2Feducation3.pdf" width="60%" style="float:center;"> 
              </figure>           
            


            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
            


          </div>
      </div>
  </div> 
</div>



{% endblock %}
