{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #1</h4>
      <p>Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle. This achievement should be distinct from your Contribution for Bronze.</p>
      <p>If you plan to show engineering success by creating a new Part that has been shown to work as expected, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
 -->
<style>
.mhyrightcontent img {
  width:85%;
  height:85%;
}

</style>

 <div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/pntop/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle" style="width: 90%;left:5%">Engineering Success</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1"> Overview  </a></li>
                  <li><a href="#title2"> Cas protein </a></li>
                  <li><a href="#title3"> DNA nanosponge </a></li>
                  <li><a href="#title4"> Reference </a></li>
                  <li><a href="#title5">  </a></li>
                  <li><a href="#title6">  </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">

            <!-- 内容 -->
            <h2 id='title1'>Overview</h2>
            <p>We&#39;re glad you&#39;re here. On this page, we&#39;ll introduce our engineering concept based on synthetic biology, as well as the advancements in research and project design. We also discuss the techniques we employed to evaluate the objectivity and viability of our project. We will focus on the conceptual development and engineering cycle of the entire project, and present the progress of our engineering in an order of ”Brief Introduction” &quot;Design&quot;, &quot;Build&quot;, &quot;Test&quot; and &quot;Result&quot; .</p>
            <h2 id='title2'>Cas protein</h2>
            <h3 id='brief-introduction-1'>Brief Introduction:</h3>
            <p>Cas nucleases with trans-cleavage activity have been widely used in nucleic acid detection. However, Cas protein&#39;s large size and low specificity for single-base mismatch recognition hinder its application in this field. </p>
            <p>Cas14a and CasΦ are newly discovered Cas proteins in recent years, which have smaller protein size and higher recognition specificity. CRISPR-CasΦ (CRISPR-Cas12j), an RNA-directed enzyme found in phages, is about half the size of Cas12a, but retains the ability to recognize and cut dsDNA, making it valuable in gene editing. Compared with widely used Cas12a, CasΦ has better targeting specificity, but its cleavage activity is weak. Therefore, based on a rational design strategy and the introduction of hairpin structured crRNA, we hope to construct a new CRISPR-Cas system with high cleavage activity and good target recognition specificity.</p>
            <h3 id='design-1'>Design:</h3>
            <p>In the initial design, as reported in the literature [1], CasΦ has small size, strong specificity and low dependence on PAM sequence, so we hoped to use CasΦ to connect RT-RPA and DNA nanosponge system to enhance the specificity of our entire system. However, the cleavage activity of CasΦ is lower than that of Cas12a and Cas14a. Therefore, we hope to improve CasΦ&#39;s cutting rate and specificity, and establish a better CRISPR-Cas system for detection.</p>
            <p>We then conducted directed revolution for CasΦ protein, and screened for protein mutants with faster cutting rate and sgRNA with lower off-target rate through rational design. By points mutation of the key amino acids in the charge center in helix α7, mutant CasΦ nucleases were obtained. The positive controls Mut-1(nCasΦ) and Mut-2(vCasΦ) were designed by Doudna&#39;s team. Our team designed the mutants Mut-3 through Mut-6. The detailed mutation content is shown in Table 1. On the other hand, as reported by Gersbach et al, a hairpin secondary structure onto the spacer region of crRNA can increase the CRISPR-Cas system specificity for target cleavage [2]. To verify whether this strategy is effective for the trans-cleavage activity of CasΦ, we introduced different lengths of hairpin structures into the crRNA of <strong>(Table 2）</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture1.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p>                                                           <strong>Table1：Mutation sites of different mutants</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture2.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p>                                            <strong>Table 2. The sequence of crRNAs with hairpin structures</strong></p>
            <h3 id='build-and-test'>Build and Test</h3>
            <h4 id='section1-trans-cleavage-activity-verification-on-wild-type-casφ-cas12a-and-cas14a'>Section1: Trans-cleavage activity verification on wild-type CasΦ, Cas12a and Cas14a</h4>
            <p>We first performed the FQ reporter cleavage assay with wild-type CasΦ, Cas12a and Cas14a to verify the dsDNA target triggered trans-cleavage activity.</p>
            <h5 id='result-1'>Result:</h5>
            <p>The results showed that Cas12a had the best performance, followed by Cas14a and CasΦ.
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture3.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 1. The time-course fluorescence intensity curves of FQ reporter cleavage by Cas12a, Cas14a, and CasΦ systems.</strong></p>
            <h4 id='section-2-trans-cleavage-activity-of-casφ-mutants'>Section 2: Trans-cleavage activity of CasΦ mutants.</h4>
            <p>Then, we expressed and purified the Mut-1 (nCasΦ) and Mut-2 (vCasΦ), which were designed by Doudna&#39;s lab, and the results were in line with the previously published one. And the four mutant proteins (Mut-3 to Mut-6) were constructed by our team.</p>
            <h5 id='result-2'>Result:</h5>
            <p>The target triggered trans-cleavage activity of wild-type and mutant Cas was assessed using the fluorophore quencher (FQ) reporter assays. As shown in Figure 2, in Mut-3 to Mut-6, only Mut-4 (Neg-K) had showed the ssDNA target triggered trans-cleavage activity. Compared to the wild-type, Mut-4 (Neg-K) exhibits a high ssDNA target triggered trans-cleavage activity, which has comparable cleavage activity to the Mut-1 designed by Doudna&#39;s group. These results further verify the hypothesis that the helix α7 might regulate the accessibility of the RuvC domain for association of single-stranded DNA (ssDNA).</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture4.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure2</strong>:The time-course fluorescence intensity curves of FQ reporter cleavage by different Cas-crRNA in the presence of ssDNA targets.</p>
            <h4 id='section-3-fq-reporter-cleavage-by-cas-crrna-with-different-concentrations-of-ssdna-targets'>Section 3: FQ reporter cleavage by Cas-crRNA with different concentrations of ssDNA targets.</h4>
            <p>The detection performances of mutants were investigated by a series of ssDNA targets with different concentrations. The initial reaction rate of the fluorescence signal was employed to evaluate the trans-cleavage activity of different mutants. </p>
            <h5 id='result-3'>Result:</h5>
            <p>As shown in Figure 3, at all ssDNA target concentrations, the trans-cleavage activities of Mut-1 (nCasΦ) and Mut-4 (Neg-K) were both significantly higher than that of the wild-type CasΦ. But there was no significant difference between Mut-1 (nCasΦ) and Mut-4 (Neg-K). At high (50 nM) or low (1.25 nM) concentration, the initial reaction rate of Mut-4 (Neg-K) was higher than that of Mut-1 (nCasΦ); at the medium concentrations (2-25 nM), the reaction rates of Mut-1 (nCasΦ) were higher than that of Mut-4 (Neg-K). Although this conclusion still needs more experimental data to be proved, the preliminary results show that the Mut-4 (Neg-K) constructed by our team has a good trans-cleavage activity for DNA detection.
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic5.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 3. The reaction rates of FQ reporter cleavage by Cas-crRNA in the presence of ssDNA targets with different concentrations.</strong></p>
            <h4 id='section-4-specificity-for-single-base-mismatch'>Section 4: Specificity for single-base mismatch</h4>
            <p>The ability of detection method to distinguish the single-base difference in the target sequence is very important in nucleic acid detection. Especially in DNA mutation analysis, it is necessary to detect the target sequence with a single-base mutation from the background of a large number of wild-type sequences. In order to test the recognition ability of wild-type CasΦ and mutants to single-base difference targets, we introduced a single-base mismatch at different positions in the ssDNA target sequences <strong>(Table 3)</strong>.</p>
            <p><strong>Table 3. The sequence of crRNA, target DNA and FQ probe for FQ-reporter assays</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic6.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <h5 id='result-4'>Result:</h5>
            <p>As shown in <strong>Figure 4</strong>, when the single-base mismatch was at position 11 or 12 (number from 3 &#39;end), the nonspecific signals produced by wild-type CasΦ or mutants can be almost ignored, indicating that CasΦ has high recognition specificity for single-base mismatch at these positions. This may be due to the reduced stability of the crRNA/DNA hybrid when the single-base mismatch is located in the middle region of the crRNA and DNA target hybridization. However, when the single-base mismatch was at position 13 (number from 3 &#39;end), all of these three CasΦ nucleases produce non-specific signals that were comparable with the complementary target. Because the target recognition region of CRISPR-Cas system was limited by PAM sequence, the tolerance of mismatch would hinder the application of CRISPR-Cas system in DNA mutation analysis.
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture7.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 4. The reaction rates of FQ reporter cleavage by Cas-crRNA in the presence of DNA targets with single-base mismatch.</strong></p>
            <h4 id='section-5-effect-of-crrna-secondary-structure-on-specificity-of-crispr-cas-system'>Section 5: Effect of crRNA secondary structure on specificity of CRISPR-Cas system.</h4>
            <p>We incorporated various lengths of hairpin structures into the crRNA of Cas to test the viability of this method for the trans-cleavage activity.</p>
            <h5 id='result-5'>Result:</h5>
            <p>The specificity of the Cas system for target recognition may be improved by crRNA with a 4-base pair stem structure (H4), according to our comparison of the specific signal from the complementary target and the non-specific signal from MT13.<br/><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/fig8.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 5. The reaction rates of FQ reporter cleavage by Mut-4(Neg-K) with hairpin structure crRNA.</strong></p>
            <h4 id='section-6-fq-reporter-cleavage-with-samples-containing-50-to-0-dna-mutations'>Section 6: FQ reporter cleavage with samples containing 50% to 0% DNA mutations</h4>
            <p>Finally, we blended various numbers of ssDNA target sequences with mismatch sequences (MT13) to prepare artificial samples containing 50% to 0% DNA mutations, in order to test the performance of our optimized CRISPR-Cas system for detecting DNA mutations from a vast number of background sequences. Mut-4 (Neg-K) and crRNA H4 were the two options we used to build the mutation detection system.</p>
            <h5 id='result-6'>Result:</h5>
            <p>As seen in Figure 6, the Mut-4 (Neg-K)/H4 system performed better at detecting mutations than the traditional wild-type/hairpin-free crRNA system (WT/CrRNA in Figure 13). 
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic9.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 6. The reaction rates of FQ reporter cleavage with samples containing 50% to 0% DNA mutations.</strong></p>
            <h4 id='section-6-further-comparison-of-cas12a-cas14a-and-mut-4h4-systems'>Section 6 :Further comparison of Cas12a, Cas14a, and Mut-4/H4 systems.</h4>
            <p>After the modification of CasΦ system, we further compared the dsDNA target triggered trans-cleavage activity of Cas12a, Cas14a, and Mut-4/H4 systems.</p>
            <h5 id='result-7'>Result:</h5>
            <p>Unfortunately, despite the significant improvement in ssDNA target triggered trans-cleavage activity and specificity of the Neg-K/H4 system compared to the WT/CrRNA system, the dsDNA target triggered activity of the Neg-K/H4 system is still poor compared to the more mature Cas12a and Cas14a systems (Figure 7). This may be due to the long dsDNA targets are difficult to dissociate from the CasΦ proteins, resulting in weak activity. Therefore, in order to use the best Cas system in our system, we narrowed down the candidates to Cas12a and Cas14a.
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture10.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 7. The reaction rates of FQ reporter cleavage of Cas12a, Cas14a, CasΦ and Neg-K/H4 systems.</strong></p>
            <p>We further validated the ability of Cas12a and Cas14a to cleave DNA nanosponge in our system. We found that the ability of Cas12a and Cas14a to cleavage DNA nanosponge and release γ-amylase was similar, which was inconsistent with the relative activity of the two in the previous FQ reporter assay. This may be because the Cas system can only effectively release the enzyme in the shallow layer of DNA nanosponge, while it is difficult to release the enzyme in the deep layer. Therefore, the difference between the two is reduced in the cleavage of nucleic acid nanostructures. Since it has been reported in the literature that Cas14a has stronger specificity for the target sequence and can identify single-base mismatches in the target [3], which is more in line with the requirements of our system for specific target recognition. Therefore, we decided to choose Cas14a in the final project design.</p>
            <h3 id='learn'>Learn:</h3>
            <p>In synthetic biology, the choosing of optimal systems needs to take many factors into account.</p>
            <p>By deliberately introducing point mutations in Cas, our team created the Mut-4(Neg-K) mutant, which shares the same enzymatic activity as the mutant protein created by Doudna&#39;s team. Meanwhile, we used the hairpin-structured crRNA and achieved the optimal Cas-crRNA combination by tailoring the length of the hairpin structure to enhance the detection efficiency of the CRISPR-Cas system for single-base mismatch targets in nucleic acid detection applications. Our assay system outperformed traditional systems in terms of single-base mismatch target identification, which offers a better method for using the CRISPR-Cas system to detect nucleic acids. </p>
            <p>Though such strategies seems effective, the actual feasibility is a matter of principle. Our purpose is to improve the detection system, and thus we should pursue better specifity and faster cutting rate at the same time. Since our modification for CasΦ cannot make it more active than Cas12a or Cas14a, we finally apply Cas14a with both efficiency and specifity in our system.</p>
            <h2 id='title3'>DNA nanosponge</h2>
            <h3 id='brief-introduction-2'>Brief Introduction:</h3>
            <p>In our project, a structure capable of physically separating straight-chain starch from γ-amylase was needed. We took the design of DNA hydrogel and modified it into the DNA nanostructure, figuratively called a DNA nanosponge, which can achieve the release of the encapsulated γ-amylase through Cas14a cleavage.</p>
            <h3 id='design-2'>Design：</h3>
            <p>In the original design, we wanted to cleave the hydrogel by the activated Cas14a, then release the γ-amylase encapsulated in the hydrogel which we want to build. The released γ-amylase could hydrolyze amylose to glucose, which reflects the content of biomarker (LINC00857) based on our modified blood glucose meter.</p>
            <p>To begin with, we wanted to integrate ssDNA and polyacrylamide into the system, which reported by Chaoyong James Yang’s group [4]. However, we found that it is relatively complex and difficult to synthesize the necessary acrylic phosphoramidite modified DNA.</p>
            <p>Then, we used DNA-protein hybird hydrogel based on streptavidin-biotin system to completely replace acrylic-DNA hydrogels and cross-linked DNA nanostructures to encapsulate γ-amylase. We designed ssDNA1 and ssDNA2, in which ssDNA1 is modified with biotin at the end. We wanted to use SA to further bind the biotin at one end of ssDNA1 to form the cross-linked nanostructure (<strong>Figure</strong> 8).</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture11.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure8</strong> DNA-protein hybird hydrogel based on artificial synthetic ssDNA.</p>
            <p>According to our experimental validation, activated CasΦ can cleavage DNA-protein hybird hydrogel faster and more efficiently, compared to several other types of Cas proteins. Therefore, to improve the overall sensitivity of the system, we chose CasΦ to cleavage our DNA-protein hybird hydrogel. Meanwhile, pure DNA-protein hybird hydrogel can be more easily prepared as lyophilized powders. Then, we conducted pre-experiments based on the study of KeminWang [5].</p>
            <h3 id='building-and-test'>Building and test</h3>
            <p>We synthesized two reported ssDNAs (ssDNA1 and ssDNA2) and performed assembly experiments (ssDNA1 is linked with biotin). We started with different assembly temperature and concentration gradients in the pre-experiment. However, the obtained results are not ideal. Although we have obtained partial double-stranded DNA, the overall molecular weight is low. Shown in <strong>Figure9</strong> and <strong>Figure10</strong></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture12.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>9</strong><strong></strong>.</em> Concentration gradients<em><strong>|</strong></em>(Line 1: 40 μM, Line 2: 80 μM, Line 3: 120 μM. 37℃, 6h)</p>
            <h4 id='section2new-dna-nanosponge-systems-1'>Section2：New DNA nanosponge Systems:</h4>
            <p>We designed a new DNA nanosponge based on the rolling circle amplification (RCA) and a novel MBD-SA fusion protein. RCA amplified repetitive sequences have the site that MBD can recognize and bind, and the single MBD-SA fusion protein has four MBD domains, which meets the construction conditions of the DNA nanosponge. In addition, the ssDNA amplified by RCA provides more cleavage sites for CRISPR-Cas system, and the new DNA nanosponge has a more integrated preparation method.</p>
            <p>Since our redesigned DNA nanosponge consists of two basic parts, long strand DNA of RCA and MBD-SA fusion protein, we choose to verify these two parts separately in engineering practice.</p>
            <p>Firstly, we designed MBD-SA fusion protein based on MBD (methyl-Cpg-binding domain) and SA (Streptavidin), which can bind multiple CG-rich dsDNA. We purified the MBD-SA fusion protein in the lysate of BL21(DE3) E. coli using metal affinity chromatography. We performed SDS-PAGE experiments on the obtained supernate to initially verify that we successfully expressed MBD-SA by BL21(DE3) E. coli. As shown in <strong>Figure</strong>18, we successfully expressed the MBD-SA fusion protein.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture13.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>10</strong><strong></strong>.</em> Different assembly temperature|( Line 1: 50 μM, Line 2: 100 μM. 95℃ to 25℃, one degree reduction per minute, 25℃, 4h)</p>
            <p>From the above results, we co-reacted DNA with SA to enable the self-assembly of DNA-protein hybird hydrogel. Different SA to ssDNA1 and ssDNA2 concentration ratios were tested to find the optimal concentration ratio. Based on the experimental results, we chose the ratio of ssDNA1-biotin:SA= 5:2. Show in <em><strong>Fig</strong><strong></strong>ure</em> <em><strong>11</strong><strong></strong>-1</em> and <em><strong>Fig</strong><strong></strong>ure</em> <em><strong>11</strong><strong></strong>-2</em></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture14.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Fig</strong><strong></strong>ure</em> <em><strong>11</strong><strong></strong>-1<strong></strong>.</em> Different SA to ssDNA1 and ssDNA2 concentration ratios.<em><strong>|</strong></em>( Line 1: small amount, Line 2: normal, Line 3: large amount. 37℃, 2h)</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture15.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Fig</strong><strong></strong>ure</em> <em><strong>11</strong><strong></strong>-2.</em> Different SA to ssDNA1 and ssDNA2 concentration ratios.<em><strong>|</strong></em>( Line 1: 50 μM ssDNA1/2, ssDNA1:SA=5:2; Line 2: 50 μM ssDNA1/2, ssDNA1:SA=2:1. 37℃, 2h)</p>
            <p>Although larger molecular weight bands were obtained, the yield of DNA-protein hybird hydrogel was low. Even after high-speed centrifugation of the product, we still could not get more products, and the prepared DNA-protein hybird hydrogel could not meet the requirements of embedding amylase on the crosslinking degree (<em><strong>Fig</strong><strong></strong>ure</em> <em><strong>1</strong><strong></strong>2</em>). In addition, the cost of synthesizing large amounts of long DNA strand is also very high.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture16.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Fig</strong><strong></strong>ure</em> <em><strong>1</strong><strong></strong>2<strong></strong>.</em> DNA-protein hybird hydrogel</p>
            <p>In view of the experimental results which are not the same as envisaged, we had a discussion with our PI. After multiple rounds of analysis of agarose gel electrophoresis images, we found the following problems: </p>
            <p>1. The length of assembled DNA in DNA-protein hybird hydrogel is short. </p>
            <p>2. The assembly efficiency of DNA-protein hybird hydrogel is still insufficient.</p>
            <p>For the problems in the experiment, we reflected on our selection of experimental conditions in the original experimental design, and the standardization of our operation. After considering various perspectives, we selected the following two aspects: </p>
            <p>1. To develop novel DNA nanosponge systems (<em><strong>Fig</strong><strong></strong>ure</em> <em><strong>13)</strong></em>.</p>
            <p>2. To further explore more suitable self-assembly reaction conditions of DNA-protein</p>
            <p> hybird hydrogel; </p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture17.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>13</strong><strong></strong>.</em> RCA-MBD-SA based DNA nanosponge</p>
            <h3 id='rebuilding'>Rebuilding</h3>
            <h4 id='section1update-dna-nanosponge-systems'>Section1：Update DNA nanosponge Systems:</h4>
            <p>In order to improve the solution environment of DNA assembly, we tried to add a variety of cations to the solution to shield excessive negative charges and stabilize the assembly of dsDNA. We selected Mg2+/Na+/Ca2+/NH4+ /K+ ion configuration of 10mM solution. The volume ratio of the solution was 1:10 added to the original reaction system.We performed agarose gel electrophoresis on the two groups of DNA assembled after the improved conditions, as shown in the Figure 14, it is obvious that the addition of Mg2+/Na+/Ca2+/NH4+ /K+ at the same time can better help the DNA assembly.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/fig13.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>1</strong><strong></strong>4<strong></strong>-<strong></strong>1<strong></strong>.</em> Reaction solution system with different ions added.<em><strong>|</strong></em>(1=1mM Na+,2=1mM K+ ,3=1mM K+  1mM Na+ ,4=1mM NH4+,5=1mM Mg2+,6=1mM Ca2+ ,7=100mM ssDNA1(negative control);37℃ 2h)</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture31.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p></em> Reaction solution system with different ions added.<em><strong>|</strong></em>(1=1mM Mg2+/Ca2+ ,2=1mMNa+/K+/ NH4+,3=1mM Mg2+/Na+/Ca2+/NH4+ /K+ ;37℃ 2h)</p>
            <p>At the same time, we further improved the dsDNA assembly temperature according to Tm (77.35℃), and designed the changing temperature gradient according to the melting curve of dsDNA(<em><strong>Table</strong></em> <em><strong>4</strong></em>). To a large extent, the occurrence of misassembly was prevented (<em><strong>Figure</strong></em> <em><strong>1</strong><strong></strong>5</em>). We also further extended the self-assembly time of the DNA nanosponge system with ssDNA1-biotin:SA= 5:2,37℃, and improved the yield and crosslinking degree of the hydrogel(<em><strong>Figure</strong></em> <em><strong>16</strong></em>). When the reaction time was extended to 24h, the assembly of A was improved and met our requirements.</p>
            <p><em><strong>Table</strong></em> <em><strong>4</strong><strong></strong>.</em> Temperature gradient </p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture32.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture34.png" referrerpolicy="no-referrer" alt="1665716005341"></p> 
            <p><em><strong>Figure</strong></em> <em><strong>15</strong><strong></strong>.</em> Reaction results in different reaction temperature environments.<em><strong>|</strong></em>(1=95℃ 30min 37℃ 210min;2=<em><strong>Table.2</strong></em>)</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture35.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>16</strong><strong></strong>.</em> Longer time for DNA nanosponge system with ssDNA1-biotin:SA= 5:2,37℃ to self-assemble.<em><strong>|</strong></em>(1=100mM ssDNA1(negative control);2=100mM ssDNA1/2,24h ,3= 100mM ssDNA1/2, 6h).</p>
            <p>Finally, we got a relatively good DNA nanosponge, as shown in <em><strong>Figure</strong></em> <em><strong>1</strong><strong></strong>7<strong></strong>.</em></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture34.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Figure</strong></em> <em><strong>17</strong><strong></strong>.</em> <em><strong>The modified</strong></em> <em><strong>DNA nanosponge</strong><strong></strong>.</em></p>
            <h4 id='section2new-dna-nanosponge-systems-2'>Section2：New DNA nanosponge Systems:</h4>
            <p>We designed a new DNA nanosponge based on the rolling circle amplification (RCA) and a novel MBD-SA fusion protein. RCA amplified repetitive sequences have the site that MBD can recognize and bind, and the single MBD-SA fusion protein has four MBD domains, which meets the construction conditions of the DNA nanosponge. In addition, the ssDNA amplified by RCA provides more cleavage sites for CRISPR-Cas system, and the new DNA nanosponge has a more integrated preparation method.</p>
            <p>Since our redesigned DNA nanosponge consists of two basic parts, long strand DNA of RCA and MBD-SA fusion protein, we choose to verify these two parts separately in engineering practice.</p>
            <p>Firstly, we designed MBD-SA fusion protein based on MBD (methyl-Cpg-binding domain) and SA (Streptavidin), which can bind multiple CG-rich dsDNA. We purified the MBD-SA fusion protein in the lysate of BL21(DE3) E. coli using metal affinity chromatography. We performed SDS-PAGE experiments on the obtained supernate to initially verify that we successfully expressed MBD-SA by BL21(DE3) E. coli. As shown in <em><strong>Fig</strong><strong></strong>ure</em> <em><strong>18</strong></em>, we successfully expressed the MBD-SA fusion protein.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture35.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Fig</strong><strong></strong>ure</em> <em><strong>18</strong><strong></strong>.</em> SDS-PAGE analysis of recombinant protein expression products <em><strong>|</strong></em>(1: Marker; 2: not induced; 3:20 ℃ total protein; 4:20 ℃ supernatant; 5:25 ℃ total protein; 6:25 ℃ supernatant; 7:37 ℃ total protein; 8:37 ℃ supernatant; 9:15 ℃ supernatant)</p>
            <p>Purification and identification of recombinant proteins</p>
            <p>The purified recombinant protein was analyzed by SDS-PAGE electrophoresis. As shown in <em><strong>Fig</strong><strong></strong>ure</em> <em><strong>1</strong><strong></strong>9</em>, there was only MBD-SA band between the 25-35 KDa band, indicating that the purification effect was sufficient.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture36.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><em><strong>Fig</strong><strong></strong>ure 1<strong></strong>9</em>. SDS-PAGE identification of purified recombinant proteins</p>
            <p>In order to further verify that the MBD-SA fusion protein we purified has streptavidin activity, we carried out Weston Blot experiments to verify the purified protein. As shown in <em><strong>Fig</strong><strong></strong>ure</em> <em><strong>2</strong><strong></strong>0</em>, and we successfully expressed and purified MBD-SA fusion protein.</p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture19.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 20. Affinity of MBD and U-DNA (Kd=13.341μM)</strong></p>

            
            <p>Since MBD is able to bind CG-rich dsDNA, in order to verify that our purified MBD-SA also has dsDNA binding activity, we performed MST (microscale thermophoresis) assay on the purified MBD-SA. As shown in the <strong>Figure 21~24</strong>, MBD-SA prepared by us has high DNA-binding activity, which also makes it better to help the assembly of DNA nanosponge. In Table 5, the Kd value of MBD-SA to M-DNA (0.19045) was much lower than that of MBD to M-DNA (1.4406), which indicated that the affinity of MBD-SA was higher than that of MBD. On the other hand, MBD-SA also shows a high affinity for unmethylated DNA, which allows us to directly use RCA products for DNA nanosponge assembly.</p>
            
            <p><strong>Table 5. Results of Kd value from MST assay</strong></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture20.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic23.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 21. Affinity of MBD and U-DNA (Kd=13.341μM)</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic24.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 22. Affinity of MBD and M-DNA (Kd=1.4406μM)</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic25.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 23. Affinity of MBD-SA and U-DNA (Kd=6.9985μM)</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/pic26.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 24. Affinity of MBD-SA and M-DNA (Kd=0.19045μM)</strong></p>
            <p>Subsequently, we carried out a large number of experiments on the RCA amplification system we designed. Since the MBD-SA protein we prepared previously can only bind dsDNA, and the DNA produced by RCA amplification is ssDNA, we added complementary sequences containing continuous CpG sites to the circular DNA template when designing the RCA reaction. The ssDNA prepared by RCA amplification can form a DNA stem-loop structure in solution, so that the necessary CpG-rich dsDNA fragment for MBD-SA binding was available. This is a key step in the design of novel DNA nanosponge.</p>
            <p>We performed agarose gel electrophoresis experiments after processing the amplification products of RCA. As shown in the <strong>Figure 24</strong>. RCA amplification has a sufficient yield.
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture27.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 25</strong>. Agarose gel electrophoresis of different products of the whole RCA process. Lane 1: Linear DNA; Lane 2 : Cyclized DNA ; Lane 3, Lane4, Lane5: RCA amplicons from different amount of cyclized DNA.</p>
            <p>After completing the above two parts of the preparation experiment, we combined the two parts into one system to verify the feasibility of the DNA nanosponge prepared by the new method.</p>
            <h5 id='section-1-result'>Section 1 Result：</h5>
            <p>We prepared DNA nanosponge based on RCA and MBD-SA fusion protein. Preliminary observation of the macroscopic state of DNA nanosponge showed that the overall cross-linking effect basically met our requirements <strong>(Figure 25)</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture28.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 26. DNA nanosponge based on RCA and MBD-SA fusion protein</strong></p>
            <p>The DNA nanosponge prepared by the new method was lyophilized and observed by scanning electron microscopy (SEM)<strong>(Figure 26-1)</strong></p>
            <p>To further verify the DNA Nanosponge’s ability to encapsulate amylase and visualize it, we replaced γ-amylase with nanogold of similar size to the enzyme and used Transmission Electron Microscope (TEM) to characterize the DNA Nanosponge encapsulating nanogold particles <strong>(Figure26-2)</strong></p>
            <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture30.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 27-1. DNA nanosponge under SEM</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture29.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p><strong>Figure 27-2. DNA nanosponge under TEM</strong></p>
            <h3 id='summary'>Summary：</h3>
            <p>After completing all the experimental work, we discussed and compared the above schemes. DNA nanosponge based on SA and biotin requires chemically synthesized DNA and modification of biotin on one of the ssDNA, so the cost of preparing DNA nanosponge is high. </p>
            <p>At the same time, the preparation of SA-biotin-based DNA nanosponge requires the reaction of ssDNA1 and ssDNA2 to form double strands at precisely controlled high temperature. Compared with RCA and MBD-SA-based DNA nanosponge, not only its overall reaction rate is lower, but also the reaction conditions and industrial preparation cost are higher.</p>
            <p>Although the affinity of MBD to DNA applied by the DNA nanosponge based on RCA and MBD-SA is less than that of biotin to SA. However, for the construction of DNA nanosponge, the affinity of MBD to DNA is fully competent.</p>
            <p><strong>Table 6.Advantages and disadvantages of the three scheme designs (&quot;✔&quot; indicates advantages)</strong>
            <html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/engineering-success/picture37.png" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
            <p>Considering the cost, efficiency, yield, stability and other factors, we finally selected the RCA and MBD-SA-based DNA nanosponge as the component of the detection system designed by our team.</p>
            <h2 id='title4'>Reference</h2>
            <p class="mhyref" style="font-size:18px">[1] Pausch, P., K.M. Soczek, D.A. Herbst, et al., DNA interference states of the hypercompact CRISPR-CasPhi effector. Nat Struct Mol Biol, 2021. 28(8): p. 652-661.</p>
            <p class="mhyref" style="font-size:18px">[2] Kocak, D.D., E.A. Josephs, V. Bhandarkar, et al., Increasing the specificity of CRISPR systems with engineered RNA secondary structures. Nat Biotechnol, 2019. 37(6): p. 657-666</p>
            <p class="mhyref" style="font-size:18px">[3] Harrington LB, Burstein D, Chen JS, Paez-Espino D, Ma E, Witte IP, Cofsky JC, Kyrpides NC, Banfield JF, Doudna JA. Programmed DNA destruction by miniature CRISPR-Cas14 enzymes. Science. 2018 Nov 16;362(6416):839-842. </p>
            <p class="mhyref" style="font-size:18px">[4] Yan L, Zhu Z, Zou Y, Huang Y, Liu D, Jia S, Xu D, Wu M, Zhou Y, Zhou S, Yang CJ. Target-responsive &quot;sweet&quot; hydrogel with glucometer readout for portable and quantitative detection of non-glucose targets. J Am Chem Soc. 2013 Mar 13;135(10):3748-51. </p>
            <p class="mhyref" style="font-size:18px">[5] Wan L, Chen Q, Liu J, Yang X, Huang J, Li L, Guo X, Zhang J, Wang K. Programmable Self-Assembly of DNA-Protein Hybrid Hydrogel for Enzyme Encapsulation with Enhanced Biological Stability. Biomacromolecules. 2016 Apr 11;17(4):1543-50. </p>
            
                       

          
          </div>
      </div>
  </div> 
</div>


{% endblock %}
