{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #4</h4>
      <p>Explain how you would implement your project in the real world.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div> -->

<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/parts.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle">Entrepreneurship</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1"> Summary  </a></li>
                  <li><a href="#title2"> Brief Introduction of Business Plan </a></li>
                  <li><a href="#title3">  </a></li>
                  <li><a href="#title4">  </a></li>
                  <li><a href="#title5">  </a></li>
                  <li><a href="#title6">  </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">

            <!-- 内容 -->

<h2 id='title1'><strong>Summary</strong></h2>
<p>To get Cancer Stalker going public, CPU_CHINA conducted market research and wrote a business proposal based on the findings to show the potential of commercializing Cancer Stalker.</p>
<img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/entrepreneurship/picture1.jpg">
<p class="mhybrat">Figure 1. Call with the company</p>
<img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/entrepreneurship/picture2.jpg" referrerpolicy="no-referrer" alt="image-20221012010652441">
<p class="mhybrat">Figure 2. Research at the pharmacy</p>
<h2 id='title2'><strong>Brief Introduction of Business Plan</strong></h2>
<h3 id='produts--services'><strong>Produts &amp; Services</strong></h3>
<p>In the first part, CPU_CHINA analyzes the necessity to screen for early-stage cancer and the value it will bring to society. We list the current methods of cancer diagnosis, which are not fully applicable to underdeveloped areas with poor medical conditions. And this is the reason why we design Cancer Stalker. </p>
<h3 id='the-market'><strong>The Market</strong></h3>
<p>In the second part, CPU_CHINA analyzes the synthetic biology market and that of early cancer screening, both of which are massive and promising. So it’s obvious that under this circumstance, Cancer Stalker has great potential to be commercialized.</p>
<h3 id='competitive-analysis'><strong>Competitive Analysis</strong></h3>
<p>Coming to the third part, CPU_CHINA investigates the macro environment for Cancer Stalker development using PEST, analyzes the strengths, weaknesses, opportunities, and threats of Cancer Stalker using the SWOT method comprehensively, and proposes solutions.</p>
<h3 id='marketing-plan'><strong>Marketing Plan</strong></h3>
<p>And for the fourth part, we divided our target users into two groups:<br/>1.Rural health care centers and village clinics in underdeveloped areas with poor medical conditions in China; 
2.The general public who are more aware of early cancer screening, such as people with a family history of cancer, researchers who are engaged in the medical and biological field, and collars who work under pressure and don&#39;t have time to go to hospitals for early cancer screening. 
CPU_CHINA conceptualized the business plan for each group and settled down to two business models as well as different marketing strategies in different stages.</p>
<h3 id='risk-management'><strong>Risk Management</strong></h3>
<p>In the last part, when determining the feasibility of a project, it&#39;s crucial to evaluate its risks. CPU_CHINA analyzes 5 risks of our project and proposes corresponding countermeasures as well.</p>
<p>Here is our business plan：</p>




          </div>
      </div>
  </div> 
</div>




{% endblock %}
