{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #4</h4>
      <p>Explain how you would implement your project in the real world.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div> -->

<style>
  .mhyrightcontent img {
    width:30%;
    height:30%;
  }
</style>

<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/implementation.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle">Implementation</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1"> Introduction  </a></li>
                  <li><a href="#title2"> Target Users </a></li>
                  <li><a href="#title3"> Usage of Cancer Stalker </a></li>
                  <li><a href="#title4"> RISK ASSESSMENT </a></li>
                  <li><a href="#title5"> Entrepreneurship </a></li>
                  <li><a href="#title6">  </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">

            <!-- 内容 -->
            <h2 id='title1'>Introduction</h2>
            <p>Cancer Stalker can develop early cancer screening in underdeveloped areas with poor medical conditions.</p>
            <p>CPU_CHINA has committed to early cancer screening due to the cancer history of one of our team members&#39; close relatives. After conducting in-depth research on cancer, we found that early detection and treatment can undoubtedly greatly improve patients&#39; sensitivity to treatment and prognosis. However, we found that people living in remote areas of China, where medical conditions are relatively backward, are incapable of early-stage cancer screening. We began to think to develop a convenient and readable platform for cancer screening with our ability to create opportunities for cancer patients to intervene in cancer as early as possible. So we decided to use synthetic biology to help them perform early cancer screening to get them treated as early as possible and improve their survival rate.</p>
            <p>Cancer Stalker was built based on RT-RPA, DNA nanosponges, CRISPR-Cas14a system, and modification of the blood glucose meter. We chose Reverse Transcription-Recombinase Polymerase Amplification (RT-RPA) as the means of nucleic acid amplification and Cas14a protein from the CRISPR system. Cas14a protein enters the DNA nanosponge and non-specifically cleaves DNA after being activated by the amplification product, leading to the decomposition of the DNA nanosponge and releasing γ-amylase, which catalyzes the hydrolysis of straight-chain starch to produce large amounts of glucose, realizing the conversion from biomarker concentration to that of glucose, and the detection of glucose concentration is implemented by our modified blood glucose meter.</p>
            <h2 id='title2'>Target Users</h2>
            <ol start='' >
            <li>Township healthcare centers in underdeveloped areas with poor medical conditions in China and village clinics in various regions.</li>
            <li>The general public who are more aware of early cancer screening, such as people who have a family history of cancer, researchers who are engaged in medical and biological fields, and white collars who are exhausted and don’t have spare time for examinations in hospitals.</li>
            
            </ol>
            <p>Residents in areas with less developed economies and poor medical standards need to spend a great deal of time and energy to seek better treatment due to poor transportation. Through interviews with village doctors, we learned that village health centers organize free medical checkups every year, but lack cancer detection equipment, so we plan to cooperate with township health centers and village health centers in various regions, who can use our products to fill the gap of cancer detection equipment in medical checkups or sell them to residents who need to buy them.</p>
            <p>The general public who are more aware of early cancer screening, such as people who have a family history of cancer, researchers who are engaged in medical and biological fields, and white collars who are exhausted and don’t have spare time for examinations in hospitals, etc. They attach more importance to early cancer screening and have a strong willingness to purchase our kit. So we plan to authorize pharmacies that cooperate with hospitals and establish online purchasing channels to sell and open wide purchasing channels for them. </p>
            <h2 id='title3'>Usage of Cancer Stalker</h2>
            <h3 id='product-information'>Product Information</h3>
            <p>Cancer Stalker is a portable cancer detection device that utilizes bioinformatics to screen for a lincRNA molecule that is highly correlated with the development and progression of more than 20 types of cancer and then modifies the blood glucose meter for a matching detection system. Compared with existing cancer detection methods, our system is simpler to operate and small in size, portable and less expensive, and achieves quantitative determination of lincRNA in human blood with a certain degree of accuracy, providing a very meaningful indicator for risk prediction of cancer.</p>
            <h3 id='scenarios'>Scenarios</h3>
            <p>Because our product is small in size and simple to operate, the application scenarios are very wide: </p>
            <ol start='' >
            <li>Rural healthcare centers where the economic conditions are not developed with poor medical conditions.</li>
            <li>Village clinics with difficulty in transportation and lack of cancer monitoring equipment</li>
            <li>People who have the willingness to purchase to conduct home testing by themselves.</li>
            
            </ol>
            <h2 id='title4'>RISK ASSESSMENT</h2>
            <p>Before Cancer Stalker is industrially produced, CPU_CHINA will ensure that the laboratory safety standards are in line with national regulations and conduct multiple tests on the product. In addition, we will make contingency plans for various problems that may occur during production to ensure the safety of humans and the environment. At the same time, we will provide strict training to the workshop operators to guarantee the technology used in the products will not be used illegally.</p>
 
<h2 id='title5'><strong>entrepreneurship</strong></h2>           
<h3 id=''><strong>Summary</strong></h3>
<p>To get Cancer Stalker going public, CPU_CHINA conducted market research and wrote a business proposal based on the findings to show the potential of commercializing Cancer Stalker.</p>
 <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/entrepreneurship/picture1.jpg" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
<span>Figure 1. Call with the company</span>
 <p><html>
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/entrepreneurship/picture2.jpg" width="60%" style="float:center;">
                    <figcaption>
                    <p style="font-size:1rem">
                    </p>
                    </figcaption>
                </figure>
            </html></p>
<span>Figure 2. Research at the pharmacy</span>
<h3 id=''><strong>Brief Introduction of Business Plan</strong></h3>
<h4 id='produts--services'><strong>Produts &amp; Services</strong></h4>
<p>In the first part, CPU_CHINA analyzes the necessity to screen for early-stage cancer and the value it will bring to society. We list the current methods of cancer diagnosis, which are not fully applicable to underdeveloped areas with poor medical conditions. And this is the reason why we design Cancer Stalker. </p>
<h4 id='the-market'><strong>The Market</strong></h4>
<p>In the second part, CPU_CHINA analyzes the synthetic biology market and that of early cancer screening, both of which are massive and promising. So it’s obvious that under this circumstance, Cancer Stalker has great potential to be commercialized.</p>
<h6 id='competitive-analysis'><strong>Competitive Analysis</strong></h6>
<p>Coming to the third part, CPU_CHINA investigates the macro environment for Cancer Stalker development using PEST, analyzes the strengths, weaknesses, opportunities, and threats of Cancer Stalker using the SWOT method comprehensively, and proposes solutions.</p>
<h4 id='marketing-plan'><strong>Marketing Plan</strong></h4>
<p>And for the fourth part, we divided our target users into two groups:<br/>1.Rural health care centers and village clinics in underdeveloped areas with poor medical conditions in China; 
2.The general public who are more aware of early cancer screening, such as people with a family history of cancer, researchers who are engaged in the medical and biological field, and collars who work under pressure and don&#39;t have time to go to hospitals for early cancer screening. 
CPU_CHINA conceptualized the business plan for each group and settled down to two business models as well as different marketing strategies in different stages.</p>
<h4 id='risk-management'><strong>Risk Management</strong></h4>
<p>In the last part, when determining the feasibility of a project, it&#39;s crucial to evaluate its risks. CPU_CHINA analyzes 5 risks of our project and proposes corresponding countermeasures as well.</p>
<p>Here is our business plan：</p>




          </div>
      </div>
  </div> 
</div>




{% endblock %}
