{% extends "layout.html" %}
  
{% block title %}Partnership{% endblock %}
{% block lead %}Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects.{% endblock %}

{% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #5</h4>
      <p>Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects. This partnership should go beyond a Silver medal collaboration.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div> -->


<div>
  <!-- Pagination_header -->
  <header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership.png"  class="mhypntopimg" alt="图片加载失败" >
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/cat.png"  class="mhycatimg" alt="图片加载失败" >
  </header>
  <div class="mhypnmain">
      <!-- left -->
      <div class="mhypnleft">
          <div class="mhyleftnavtitle">partnership</div>
          <div class="mhyleftnav">
              <ul class="mhyleftcatlog">
                  <li><a href="#title1"> Overview  </a></li>
                  <li><a href="#title2"> Initiation Acquaintance </a></li>
                  <li><a href="#title3"> Steady and Progressive Cooperation </a></li>
                  <li><a href="#title4"> Cooperation ＆ Mutual Benefits </a></li>
                  <li><a href="#title5"> Conclusion </a></li>
                  <li><a href="#title6">  </a></li>
              </ul>
          </div>
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/dna.png" class="mhyDNAimg" alt="">
      </div>
      <!-- right -->
      <div class="mhypnright">
          <div class="mhyrightcontent">

            <!-- 内容 -->
            <h2 id='title1'><strong>Overview</strong></h2>
            <p>CPU_CHINA and BIT developed a Partnership this year. So far, the two teams have exchanged many constructive ideas on project technology, publicity activity, and human practice. CPU_CHINA and BIT have expertise in parts and hardware respectively, and both have much to learn from each other.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture1.jpg" referrerpolicy="no-referrer" alt="figure1 Photo of BIT members"></p>
            <p class="mhybrat"><span>Figure 1. Photo of BIT members</span></p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture2.jpg" referrerpolicy="no-referrer" alt="figure2 Photo of CPU_CHINA members"></p>
            <p class="mgybrat"><span>Figure 2. Photo of CPU_CHINA members</span></p>
            <p>The two teams first met in May and exchanged ideas about the use of Cas protein. Both teams used the CRISPR system in last year&#39;s project and hoped to continue to apply the system for disease detection in this year&#39;s project. Based on this, the two teams shared the selection and experimental experience of different Cas proteins from their previous experience. CPU_CHINA assisted BIT to interview experts in our school and helped BIT to further determine the content and sociological significance of their project. 
            In the middle stage of the project, CPU_CHINA and BIT both participated in an online science popularization activity jointly held by Tsinghua and FAFU. And we discussed teaching plans to introduce the basic knowledge and frontier applications of synthetic biology to high school students. At the end of the class, we answered the audience’s questions and encouraged them to explore the charm of synthetic biology and participate in iGEM in the near future.
            BIT has a rich experience in hardware design and assembly, and has conducted a certain amount of research on the glucose meter. Combining BIT’s guidance and our investigation, CPU_CHINA also chose to apply the glucose meter as the hardware part of our detection system. By detecting real-time glucose content in our detection system, our machine enables users to check the test result directly on their phone via Bluetooth connection between their phone and our facility, making it convenient for users to monitor their health condition, which contributed to the development of digital healthcare as well.</p>
            <p>In the later stage of the competition, CPU_CHINA participated in BIT&#39;s publicity activity targeting freshmen and held an online synthetic biology art exhibition with BIT. In this way, more people could feel the charm of synthetic biology through the way we promote our project.
              In this year&#39;s competition, BIT and CPU_CHINA established a profound relationship and carried out six-month cooperation. Sharing the consensus of changing the world with synthetic biology, we exchanged thoughts and supported each other the whole time, which greatly promoted each other’s project. </p>
            <h2 id='title2'><strong>Initiation Acquaintance</strong></h2>
            <p>  After three months of brainstorming, CPU_CHINA determined the project’s topic, which hopes to realize the visual screening of a variety of cancers by detecting the concentration of biomarkers in the plasma of the subjects.
              At the beginning of May, the epidemic reoccurred in many provinces of China. To promote the communication and cooperation between iGEM teams in China, CPU_CHINA held the iGEM Meeting Up online meeting.And we took this opportunity to get in touch with BIT and invited them to join in. At this time, BIT was still determining their topic and designing the technical route of the project. At the end of May, BIT held a CCIC hardware roundtable meeting, during which we had a further understanding of BIT.
              During the communication in June, we learned that both teams had used the CRISPR system in last year&#39;s project, and hoped to continue to apply the system for disease detection in this year&#39;s project. Based on this, the two teams shared their experience in the selection and application of different Cas proteins.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture3.jpg" referrerpolicy="no-referrer" alt="figure3 Sharing experience about CRISPR-Cas"></p>
            <p class="mhybrat"><span>Figure 3. Sharing experience about CRISPR-Cas</span></p>
            <p>  Furthermore, we found out that BIT was in the need to interview and collect data from professionals about medicines for pain, while our professors have more experiences on medicines. So we assisted BIT to interview experts in the school, through which, BIT further learned that neuropathic and nociceptive analgesic medicines are very different from normal pharmacological mechanisms. Our assistance helped BIT to further determine the content and significance of their project. </p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture4.jpg" referrerpolicy="no-referrer" alt="figure4 Assisting BIT in determining project topic"></p>
            <p class="mhybrat"><span>Figure 4. Assisting BIT in determining project topic</span></p>
            <p>  Based on the previous cooperation, we decided to establish a long-term partnership and carried out activities to enhance our understanding in Tencent Meeting at the end of June while exchanging project designs, which lay a solid foundation for pleasant cooperation in the future.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture5.jpg" referrerpolicy="no-referrer" alt="figure5  Online team building"></p>
            <p class="mhybrat"><span>Figure 5. Online team building</span></p>
            <h2 id='title3'><strong>Steady and Progressive Cooperation</strong></h2>
            <p>  In July, BIT finalized their technical route, which is using HCR and CRISPR to detect biomarker miRNA to classify chronic musculoskeletal pain into neuropathic and nociceptive.
              BIT had a rich experience in hardware design. And over the years of participation, they have been continuously improving the design and assembly of the hardware part of the project and won the nomination of the best hardware in 2019.That’s what we lacked and in urgent need: To make the detection results more visualized, we added a hardware part to the project to realize the visual screening of signal molecules.
              Based on our needs, they recommended the Arduino Uno to us as a microcontroller board that can be used to develop interactive products that can read a large number of switch and sensor signals and control a wide variety of lights, motors, and other physical devices, which helped a lot.
              In the end, our machine enables users to check the test result directly on their phone via Bluetooth by detecting real-time glucose content in our detection system, making it convenient for users to monitor their health condition.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture6.jpg" referrerpolicy="no-referrer" alt="figure6 BIT online Hardware sharing"></p>
            <p class="mhybrat"><span>Figure 6. BIT online Hardware sharing</span></p>
            <p>  On July 23, BIT and CPU_CHINA were invited by Tsinghua and FAFU to jointly carry out an online lecture on synthetic biology for high school students. BIT and CPU_CHINA both made preparations on the theme of &quot;Getting Started: Synthetic Biology in Life&quot;. Before the lecture, BIT and CPU_CHINA discussed the teaching content through Tencent Meeting, sorted out science popularization materials, and prepared our slides by heart, ensuring our presentation will give out precise information and be entertaining enough to attract the audience meanwhile.
              During the course, BIT gave an overall introduction to synthetic biology, while CPU_CHINA presented the CRISPR-Cas technology with its discovery history, technical principles, and application prospects. The two teams worked together and hoped to inspire high school students to feel the charm of synthetic biology.
              Finally, the lectures of CPU_CHINA and BIT won unanimous praise from the audience, and the series of courses were played more than ten thousand times on the website.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture7.jpg" referrerpolicy="no-referrer" alt="figure7 Participation in the synthetic biology public welfare class"></p>
            <p class="mhybrat"><span>Figure 7. Participation in the synthetic biology public welfare class</span></p>
            <p>  In mid-August, both CPU_CHINA and BIT participated in the 9th CCIC online iGEM meeting to share the project design and current progress.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture8.png" referrerpolicy="no-referrer" alt="figure8 Participation in the synthetic biology public welfare class"></p>
            <p class="mhybrat"><span>Figure 8. Participation in the CCiC online meeting</span></p>
            <p>  By the end of August, BIT and CPU_CHINA had made amazing progress on the wet labs. But during the process, both teams encountered many setbacks. So to learn from experience and make improvements, we listed the problems in the recent experiments, and exchanged ideas on the use of CRISPR technology and the modification of Cas protein on 28th August, sharing experimental experience and transformation ideas.
              For example, their system showed no fluorescence so they consulted us for our advise. And after heated discussions, we provided valuable experimental experience and skills to BIT. Eventually, BIT carried out the verification according to the experimental system provided by CPU_CHINA.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture9.jpg" referrerpolicy="no-referrer" alt="figure9 Modification of the Cas protein"></p>
            <p class="mhybrat"><span>Figure 9. Modification of the Cas protein</span></p>
            <h2 id='title4'><strong>Cooperation ＆ Mutual Benefits</strong></h2>
            <p>  In early September, during the Mid-Autumn Festival of China, BIT invited CPU_CHINA to introduce synthetic biology and iGEM competition to the freshmen of the Beijing Institute of Technology. During the presentation, we interacted with the freshmen and encouraged them to join in the exploration of synthetic biology.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture10.jpg" referrerpolicy="no-referrer" alt="figure10 Science popularization lectures for freshmen"></p>
            <p class="mhybrat"><span>Figure 10. Science popularization lectures for freshmen</span></p>
            <p>  At the same time, CPU_CHINA has also completed the hardware design and developed board code writing with the help of BIT. The new facility has realized the functions of bio-electrical signal conversion and input, as well as signal analysis and output. Arduino Uno can read the amplified electrical signal and analyze it through the built-in program, output the result on the LED and LCD, and then send it to the smartphone using the HC-05 Bluetooth module.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture11.jpg" referrerpolicy="no-referrer" alt="figure11 Hardware development board"></p>
            <p class="mhybrat"><span>Figure 11. Hardware development board</span></p>
            <p>  Last year, CPU_CHINA held an online mascot-orientated art exhibition. BIT was very interested in our project publicity model and offered to hold this year&#39;s online art exhibition with us. We divided the art exhibition into three parts, &quot;Germination&quot;, &quot;Initiation&quot; and &quot;Circuitousness&quot;, which represent the process of our two teams first knowing synthetic biology, learning about iGEM competition, and finally getting to know each other.</p>
            <p><img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/partnership/picture12.jpg" referrerpolicy="no-referrer" alt="figure12 Synthetic Biology Online Art Exhibition"></p>
            <p class="mhybrat"><span>Figure 12. Synthetic Biology Online Art Exhibition</span></p>
            <h2 id='title5'><strong>Conclusion</strong></h2>
            <p>  BIT is an excellent team and always has endless passion for work and high morale, making them outstand among peers. In this year&#39;s competition, BIT and CPU_CHINAs carried out in-depth partnership and cooperation. We helped each other and successfully promoted the development of each other&#39;s projects and team building in many aspects such as topic determination and technology design. We sincerely hope to maintain a good cooperative relationship in the future.</p>
            <p>See the other side view of our partnership, see <a href='https://2022.igem.wiki/bit/partnership'>this</a> page.</p>
            




          </div>
      </div>
  </div> 
</div>

{% endblock %}
