{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<!-- <div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div> -->


<style>
  div h3{
    font-family: Rubik-Black;
  }
  div h5{
    font-family: Rubik-Black;
  }
  div cite {
    font-family:SOURCESANSPRO-REGULAR ;
  }
  div p {
    font-family:SOURCESANSPRO-REGULAR ;
  }
</style>

<header>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/teamheying.jpg"  class="mhypntopimg" alt="图片加载失败" style="opacity: 0.5;width:100%;height:130%" >
</header>
<div class="container" style="background-color: rgba(70, 66, 63, 0.2);padding:500px auto"> 
<!-- PI -->
<div class="card" style="margin-top: 100px;">
<div class="card-body">
  <h3 class="card-title" style="text-align: center;">Program Instructor</h3>
</div>
</div>
<div class="card mb-3 p-3" style="margin: 10px auto;">
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/lyl-touxiang.png" class="" alt="..." style="width:30% ;height:35%;margin: 10px auto;">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title">Yunlong Liu</h5>
    <p class="card-text">The PI of team 2022 CPU_CHINA.</p>
  </div>
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/gyq-touxiang.png" class="" alt="..." style="width:30% ;height:35%;margin: 10px auto;">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title">Yueqing Gu</h5>
    <p class="card-text">Second PI of team 2022 CPU_CHINA</p>
  </div>
</div>

<!--  team leader -->
<div class="card">
<div class="card-body">
  <h3 class="card-title" style="text-align: center;">Team Leader</h3>
</div>
</div>
<div class="card-columns" style="margin: 10px auto;">
<div class="card p-3 mb-3" style="margin-left: 150px;">
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/zkk-touxiang.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Keke Zhong</h5>
    <cite title="Source Title" style="font-size:80% ;">The team leader responsible for team management and carrying out experiment.</cite>
  </div>
</div>
<div class="card p-3 mb-3" style="margin-left: 250px;">
  <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/hhy-touxiang.png" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Hongyi Huang</h5>
    <cite title="Source Title" style="font-size:80% ;">Team leader and in charge of the wet lab experiment.</cite>
  </div>
  </div>
</div>

<!-- wet lab -->
<div class="card">
<div class="card-body">
  <h3 class="card-title" style="text-align: center;">Wet Lab</h3>
</div>
</div>
  <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3 mb-3">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/ssw-touxiang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shenwei Shi</h5>
          <cite title="Source Title" style="font-size:80% ;">I am mainly responsible for scheme design and experiment implementation.</cite>
        </div>
      </div>
      <!-- <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div> -->
      <div class="card p-3 mb-3">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/wyf-touxiang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yifan Wu</h5>
          <cite title="Source Title" style="font-size:80% ;"> Little promoter of experiment. That man is eager to solve some problems,but it always backfires.</cite>
          
        </div>
      </div>
      <div class="card p-3 mb-3">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/ljr-touxiang.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jiarui Li</h5>
          <cite title="Source Title" style="font-size:80% ;">Doing experiments all day and writing wiki all night.</cite>
        </div>
      </div>
      <div class="card p-3 mb-3">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/zj-touxiang.jpg" class="card-img-top mb-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jun Zhang</h5>
          <cite title="Source Title" style="font-size:80% ;">Academic member responsible for the design and experiment of the project.</cite>
        </div>
      </div>
      <div class="card p-3 mb-3">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/zyd-touxiang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">YiDong Zhang</h5>
          <cite title="Source Title" style="font-size:80% ;">Hardware Development.</cite>
        </div>
      </div>
      <!-- <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer text-white">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div> -->
     <!--  <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> -->
    </div>
   
    <!-- mathematical modeling -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Modeling</h3>
      </div>
    </div>
    <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3 mb-3" style="margin-left: 150px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/yqy-touxiang.jpg" class="card-img-top mb-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Qiyi Yu</h5>
          <cite title="Source Title" style="font-size:80% ;">The model designer for bioinformatics analysis.</cite>
        </div>
      </div>
      <div class="card p-3 mb-3" style="margin-left: 250px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/shl-touxaing.jpg" class="card-img-top mb-3" alt="...">
        <div class="card-body">
        <h5 class="card-title">Honglu Shi</h5>
          <cite title="Source Title" style="font-size:80% ;">I am responsible for the dynamics modeling part of the project.</cite>
        </div>
        </div>
    </div>

   <!--  human practice -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Human Practice</h3>
      </div>
    </div>
    <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3 mb-3" style="margin-left: 150px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/xzr-touxiang.jpg" class="card-img-top mb-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zhirou Xiong</h5>
          <cite title="Source Title" style="font-size:80% ;">HP responsible for exploring social value for the project.</cite>
        </div>
      </div>
      <div class="card p-3 mb-3" style="margin-left: 250px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/lr-touxiang.jpg" class="card-img-top mb-3" alt="...">
        <div class="card-body">
        <h5 class="card-title">Rui Lu</h5>
          <cite title="Source Title" style="font-size:80% ;">HP responsible for organizing various activities and popularizing science.</cite>
        </div>

        </div>
    </div>

    <!--  art designer -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Art Designer</h3>
      </div>
    </div>
    <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3 mb-3" style="margin-left: 150px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/lry-touxiang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ruiyang Ling</h5>
          <cite title="Source Title" style="font-size:80% ;">The art designer responsible for typesetting and video production.</cite>
        </div>
      </div>
      <div class="card p-3 mb-3" style="margin-left: 250px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/zzj-touxiang.png" class="card-img-top mb-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zhuojun Zhang</h5>
          <cite title="Source Title" style="font-size:80% ;">The art designer responsible for wiki design and poster
            ʕ •ᴥ•ʔ</cite>
        </div>
      </div>
    </div>


     <!--  wiki production -->
     <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Wiki Production</h3>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4 p-3" >
          <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/mhy-touxaing.jpg" alt="..." style="width: 80%;height:100%;box-shadow: 2px rgb(44, 44, 44);margin-left: 100px;">
        </div>
        <div class="col-md-8">
          <div class="card-body mt-3">
            <h5 class="card-title">Hongyi Mo</h5>
            <cite title="Source Title" style="font-size:80% ;">The wiki production be responsible for the wiki building jobs of the team.</cite>
            <p class="card-text"><small class="text-muted">ฅ(• ɪ •)ฅ Up Up ฅ(• ɪ •)ฅ</small></p>
          </div>
        </div>
      </div>
    </div>


    <!--  instructor -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Instructor</h3>
      </div>
    </div>
    <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3" style="margin-left: 150px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/lp-touxiang.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Peng Luo</h5>
          <cite title="Source Title" style="font-size:80% ;">The instructor: Select team members and coach the team.</cite>
        </div>
      </div>
      <div class="card p-3" style="margin-left: 250px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/mry-touxiang.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Ruyi Ma</h5>
          <cite title="Source Title" style="font-size:80% ;">The instructor: Select team members and coach the team.
          </cite>
        </div>
      </div>
    </div>

    <!--  special thanks -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Special Thanks</h3>
      </div>
    </div>
    <div class="card-columns" style="margin: 10px auto;">
      <div class="card p-3" style="margin-left: 150px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/by-touxiang.png" class="card-img-top" alt="..." style="width: 80%;height:80%">
        <div class="card-body">
          <h5 class="card-title">Yang Bai</h5>
          <cite title="Source Title" style="font-size:80% ;">Provide guidance for wet experiments and project process.</cite>
        </div>
      </div>
      <div class="card p-3" style="margin-left: 250px;">
        <img src="https://static.igem.wiki/teams/4308/wiki/static/imgs/member/tsl-touxiang.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Shulin Tan</h5>
          <cite title="Source Title" style="font-size:80% ;">Provide guidance for wet experiments.
          </cite>
        </div>
      </div>
    </div>
</div>

{% endblock %}
